DB_ROOT_PASSWORD=CHANGE_ME
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_NAME=CHANGE_ME

SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/ludora
SPRING_DATASOURCE_USER=CHANGE_ME
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SPRING_JPA_HIBERNATE_DDL_AUTO=update

JWT_SECRET=CHANGE_ME
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=2592000000

MERCADOPAGO_ACCESS=CHANGE_ME
APP_BASE_URL=https=CHANGE_ME